<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Frequent Flyers</title>
</head>
<body>
  <div class="nationals">
<table id="list">
  <thead>
  
    <% if (user) { %>
    <tr>
      <th>National Competition Name:</th>
      <th>National Competition Location:</th>
      <th>National Competition Date/Time:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% } %>
    </span>
  </thead>
  <tbody>

    <% if (user) { %>
        <% nationals.forEach(function(n) { %>
            <tr>
              <td><%= n.name %></td>
              <td><%= n.location %></td>
              <td><%= n.startDate %></td>
            <td><a href="/nationals/<%= n._id %>">View Itinerary</a></td>
            <td><a href="/nationals/<%= n._id %>/edit">Edit Itinerary</a></td>
             <td></tx> <form class="delete-national" method="POST" action="/nationals/<%= n._id %>?_method=DELETE">
                  <button type="submit" id="delete-national-btn" class="btn btn-danger btn-sm">X</button>
              </form>
              </td>
            </tr>
            <% }); %>
    <% } %>

</div>
    </tbody>
  </table>
  </body>
  
<%- include('../partials/footer') %>
